<header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/allCountries">All Countries </a></li>
        <li><a href="/myRecords">My Records</a></li>
      </ul>
    </nav>
  </header>